.Post {
      border-radius: 3px;
      border: 1px solid #e6e6e6;
      background-color: #fff;
      margin-bottom: 60px;
      margin-left: 30%;
      margin-right: 30%;
      width: 50%;
    }
    
    .Post-user {
      padding: 10px;
      margin: auto;
    }
    .Post-user-avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%
    }
    .Post-user-avatar img {
      width: 100%;
      height: 100%;
    }
    .Post-user-nickname {
      margin-left: 12px;
      font-family: 'PT Sans', sans-serif;
      font-weight: bold;
    }
    .Post-image-bg {
      background-color: #efefef;
    }
    .Post-image img {
      width: 100%;
      height: 100%;
    }
    .Post-caption {
      padding: 16px 16px;
    }
    .Post-caption strong {
      font-family: 'PT Sans', sans-serif;
      font-weight: bold;
    }
    .vjs-fade-out {
      display: none;
      visibility: hidden;
      opacity: 0;
    }